a:link{
	color: rgb(28,141,255);
	text-decoration: none;
}
a:visited{
	color: rgb(255,0,128);
	text-decoration: none;
}
a:hover{
	color: gray;
	text-decoration: underline;
}
a:active{
	color: pink;
	text-decoration: none;
}