body{
	background-color: rgb(153,217,234);
}
top{
	display: block;
	padding-top: 109px;
	height: 0px;
	overflow: hidden;
	background-image: url(images02.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}