#span1{
	position: absolute;
	left: 0;
	bottom: 0;
}
logo{
	display: inline-block;
	width: 341px;
	padding-top: 109px;
	height: 0px;
	overflow: hidden;
	background-image: url(images02.jpg);
	background-size: 80%;
	background-repeat: no-repeat;
	float: left;
	vertical-align: text-bottom;
}
#span2{
	display: inline-block;
	line-height: 24px;
	padding-top: 8px;
}