footer{
	position: absolute;
	z-index: -2;
	left: 0;
	bottom: 0;
	width: 100%;
}
#span1{
	display: block;
	width: 100%;
}
logo{
	display: inline-block;
	width: 341px;
	padding-top: 109px;
	height: 0px;
	overflow: hidden;
	background-image: url(images02.jpg);
	background-size: 80%;
	background-repeat: no-repeat;
	float: left;
}
#span2{
	display: inline-block;
	line-height: 24px;
	padding-top: 8px;
}
#span3 ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#span3 ul li{
	display: inline;
	line-height: 36px;
	padding-right: 6px;
	border-right:  1px solid gray;
}
#span3 ul li.last{
	border-right: 0;
}